@media (max-width: 481px) {

    /* header  */
    header {
        padding: 28px 20px;
    }

    .site_logo {
        width: 40px;
        height: 40px;
    }

    .header_icons {
        width: 32px;
        height: 32px;
    }

    .icons {
        column-gap: 16px;
    }

    /* section1  */
    .span1,
    .span2 {
        font-size: 24px;
        line-height: 32px;
    }

    /* section2  */
    .home_section_second {
        padding: 32px 0px 32px 20px;
    }

    h2 {
        font-size: 24px;
        line-height: 32px;
    }

    /* footer  */
    footer {
        padding-block: 32px 153px;
    }

    .footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 40px;
    }

    .footer_ul,
    .footer_div,
    .footer_address {
        justify-content: center;
        align-items: center;
    }

    /* catalog  */
    .catalog_section {
        padding: 32px 20px;
    }

    .catalog_section_container {
        margin-bottom: 40px;
    }

    .catalog_span {
        display: none;
    }

    .catalog_sort {
        display: block;
    }

    select {
        color: transparent;
        width: 36px;
        height: 32px;
        background-image: url(../images/sort_arrow.svg);
        background-repeat: no-repeat;
        background-position: center;
    }

    .grid_cart {
        width: 23px;
        height: 23px;
    }

    .catalog_pages {
        margin-top: 54px;
    }

    .btn_text {
        display: none;
    }

    .next_page,
    .previous_page {
        width: 52px;
        height: 40px;
        justify-content: center;
    }

    /* main  */
    main {
        height: 883px;
        padding-inline: 20px;
    }

    .form_inputs {
        flex-direction: column;
        row-gap: 36px;
    }
}

@media (max-width: 321px) {

    /* header  */
    header {
        padding: 28px 8px;
    }

    /* section1  */
    .home_section {
        height: 320px;
    }
    /* section2  */
    .home_section_second {
        padding: 32px 0px 32px 8px;
    }
/* footer  */
footer{
    padding-inline: 73px;
}
 /* catalog  */
    .catalog_section {
        padding-inline: 8px;
    }
    .catalog_pages {
        margin-top: 40px;
    }
   /* main  */
    main {
        height: 808px;
        padding: 48px 8px;
    }
    form,
    .form_inputs {
        row-gap: 24px;
    }
}