body {
    width: min(100%, 1440px);
    margin: auto;
    font-family: "Inter", sans-serif;
}

.burger_menu,
.x_mark {
    display: none;
}

/* header  */
.container {
    width: min(100%, 1440px);
    padding-top: 98.4px;
}

header {
    border-bottom: 2px solid #05BCCA;
    padding: 16px 94px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #012426;
    position: fixed;
    max-width: inherit;
    width: inherit;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.header_ul {
    display: flex;
    gap: 72px;
}

.header_ul_li {
    position: relative;
    transition: color 0.3s ease;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    color: #A1C3C9;
}

.header_ul_li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: #A1C3C9;
    box-shadow: 0 0 8px #A1C3C9, 0 0 15px #A1C3C9;
    transition: width 0.2s ease;
    border-radius: 2px;
}

.header_ul_li:hover::after {
    width: 100%;
}

.icons {
    display: flex;
    column-gap: 32px;
}

.header_icons {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: 2px solid #05BCCA;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.25s ease, transform 0.2s ease;
}

.user_icon {
    background-color: #05BCCA;
    border: none;
}

.header_icons:hover {
    box-shadow:
        0 0 8px rgba(161, 195, 201, 0.6),
        0 0 16px rgba(161, 195, 201, 0.8);
}

.header_icons:active {
    box-shadow:
        0 0 12px rgba(114, 143, 233, 0.8),
        0 0 24px rgba(114, 143, 233, 1);
    transform: scale(0.92);
}

/* section1 */
.home_section {
    background-image: url(../images/cover.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 560px;
    font-size: 100px;
}

.home_section_container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

@keyframes lights {
    0% {
        color: hsl(230, 40%, 80%);
        text-shadow:
            0 0 1em hsla(252, 100%, 50%, 0.2),
            0 0 0.125em hsla(249, 100%, 60%, 0.3),
            -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
            1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }

    30% {
        color: hsl(230, 80%, 90%);
        text-shadow:
            0 0 1em hsla(230, 100%, 50%, 0.5),
            0 0 0.125em hsla(245, 100%, 60%, 0.5),
            -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
            0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }

    40% {
        color: hsl(230, 100%, 95%);
        text-shadow:
            0 0 1em hsla(320, 100%, 50%, 0.5),
            0 0 0.125em hsla(320, 100%, 90%, 0.5),
            -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
            0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
    }

    70% {
        color: hsl(230, 80%, 90%);
        text-shadow:
            0 0 1em hsla(320, 100%, 50%, 0.5),
            0 0 0.125em hsla(320, 100%, 60%, 0.5),
            0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
            -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }

    100% {
        color: hsl(230, 40%, 80%);
        text-shadow:
            0 0 1em hsla(320, 100%, 50%, 0.2),
            0 0 0.125em hsla(320, 100%, 60%, 0.3),
            1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
            -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }

}

.span1,
.span2 {
    font-weight: 400;
    font-style: Regular;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 0%;
    animation: lights 5s 750ms linear infinite;
}

/* section2 */
.home_section_second {
    background-color: #1A1A1A;
    padding: 96px 94px;
}

h2 {
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    line-height: 52px;
    letter-spacing: 0%;
    text-align: center;
    color: #05BCCA;
    margin-bottom: 64px;
}

.home_section_second_container {
    display: flex;
    column-gap: 20px;
}

.home_section_card {
    position: relative;
    background-color: #2C4246;
    padding: 8px;
    border: 1px solid #05BCCA;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    will-change: transform;
}

.home_section_card:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

h3 {
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0%;
    color: #D9D9D9;
    margin-top: 16px;
    margin-bottom: 16px;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section_card_img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

span {
    color: #05BCCA;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
}

.card_btn {
    width: 58px;
    height: 28px;
    background-color: #C46A2B;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    cursor: pointer;
    transition:
        transform 0.2s ease,
        box-shadow 0.2s ease,
        background-color 0.2s ease;
}

.card_btn:hover {
    background: #C46A2B;
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(161, 195, 201, 0.6);
}

.card_btn:active {
    transform: translateY(0);
    box-shadow: 0 4px 10px rgba(161, 195, 201, 0.4);
}


/* footer */
footer {
    background-color: #2C4246;
    padding: 48px 372px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer_ul,
.footer_div,
.footer_address {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.h4 {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    color: #D9D9D9;
    margin-bottom: 16px;
}

li,
.contacts {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #D9D9D9;
}

.footer_socials {
    display: flex;
    column-gap: 16px;
    transition: transform 0.25s ease;
}

.footer_socials a:hover {
    transform: translateY(-6px);
}

.footer_ul_li {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.footer_ul_li::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: -100%;
    width: 100%;
    height: 3px;

    background: linear-gradient(90deg,
            transparent,
            #eff1f1,
            #A1C3C9,
            transparent);

    box-shadow: 0 0 8px #d9e6e9;
    border-radius: 2px;

    opacity: 0;
}

.footer_ul_li:hover::after {
    animation: hoverSlide 0.6s ease-out forwards;
}

@keyframes hoverSlide {
    0% {
        left: -100%;
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    100% {
        left: 100%;
        opacity: 0;
    }
}

/* catalog */
/* catalog section  */
.catalog_section {
    background-color: #012426;
    padding: 96px 94px;
}

.catalog_section_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 64px;
}

.filter {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.sort {
    display: flex;
    align-items: center;
    column-gap: 32px;
}

.catalog_span {
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    color: #D9D9D9;
}

select {
    width: 160px;
    height: 32px;
    background-color: #A1C3C9;
    border-radius: 4px;
    color: #2C4246;
    border: none;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}

.catalog_section_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px 20px;
}

.grid_article {
    background-color: #2C4246;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    will-change: transform;
}

.grid_article:hover {
    transform: translateY(-8px);
    box-shadow: 0 16px 35px rgba(0, 0, 0, 0.18);
}

.grid_guitar {
    width: 100%;
    transition: filter 0.3s ease;
}

.grid_article:hover .grid_guitar {
    filter: grayscale(100%);
}

h5 {
    margin-top: 16px;
    margin-left: 8px;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0%;
    color: #D9D9D9;
}

.catalog_cards {
    padding: 16px 8px;
    display: flex;
    justify-content: space-between;
}

.guitar_price {
    color: #05BCCA;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0%;
}

.grid_cart {
    background-color: #C46A2B;
    border-radius: 4px;
    width: 27px;
    height: 27px;
    display: flex;
    justify-content: center;
    border: none;
}

.grid_cart:hover {
    box-shadow:
        0 0 8px rgba(189, 100, 16, 0.6),
        0 0 16px rgba(189, 100, 16, 0.6);
}

.grid_cart:active {
    box-shadow:
        0 0 12px rgba(114, 143, 233, 0.8),
        0 0 24px rgba(114, 143, 233, 1);
    transform: scale(0.92);
}

.catalog_pages {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 48px;
    margin-top: 64px;
}

.previous_page {
    width: 121px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    background-color: #C46A2B;
    border: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    will-change: transform;

}

.pages {
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #FFFFFF;
}

.next_page {
    background-color: #05BCCA;
    width: 92px;
    height: 40px;
    border-radius: 8px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    will-change: transform;
}

.btn_text {
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #D9D9D9;
}

.previous_page:hover,
.next_page:hover {
    transform: translateY(-8px);
    box-shadow: 0 16px 35px rgba(0, 0, 0, 0.18);
}

/* main  */
main {

    background-image: url(../images/cover2.png);
    height: 720px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 140px 201px;
}

/* main section  */
.main_section {
    padding: 32px;
    display: flex;
    column-gap: 40px;
    border: 1px solid #05BCCA;
    border-radius: 10px;
    background: #2C4246CC;
}

/* form section  */
.form_section {
    width: 440px;
}

.form_section_title {
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 64px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid;
    width: 0;
    animation: typing 2s steps(20) forwards, blink 0.7s infinite;
}

@keyframes typing {
    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 36px;
}

.form_inputs {
    display: flex;
    column-gap: 60px;
}

input {
    width: 100%;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    height: 40px;
    padding-inline: 8px;
    color: #05BCCA;
}

::placeholder {
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0%;
    color: #FFFFFFC2;
}

textarea {
    padding: 8px;
    height: 96px;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid #FFFFFF;
    color: #05BCCA;
    resize: none;
}

.submit_btn {
    width: 100%;
    height: 56px;
    border-radius: 10px;
    border: none;
    background-color: #C46A2B;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #FFFFFF;
    transition: all 0.3s ease;
}

.submit_btn:hover {
    background: #f76700;
    color: #fff;
}

/* map section  */
.map_section {
    width: 494px;
    display: flex;
    flex-direction: column;
    row-gap: 64px;
    align-items: center;
}

.address_contacts {
    display: flex;
    column-gap: 72px;
}

.address_link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    opacity: 1;
    border-radius: 8px;
    border: 2px solid #FFFFFF;
    background-color: #05BCCA;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.address_link:hover {
    background-color: #2C4246;
    transform: translateY(-2px);
}

iframe {
    width: 100%;
    height: 264px;
    object-fit: cover;
    border-radius: 10px;
}