body {
    width: min(100%, 1440px);
    margin: auto;
    font-family: "Inter", sans-serif;
}

.menu {
    display: none;
}
/* header  */
.container {
    width: min(100%, 1440px);
    padding-top: 98.4px;
}
header {
    border-bottom: 2px solid #05BCCA;
    padding: 16px 94px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #012426;
    position: fixed;
    max-width: inherit;
    width: inherit;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.header_ul {
    display: flex;
    gap: 72px;
}
.header_ul_li {
    position: relative;
    transition: color 0.3s ease;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    color: #A1C3C9;
}
.header_ul_li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: #A1C3C9;
    box-shadow: 0 0 8px #A1C3C9, 0 0 15px #A1C3C9;
    transition: width 0.2s ease;
    border-radius: 2px;
}
.header_ul_li:hover::after {
    width: 100%;
}
.icons{
    display: flex;
    column-gap: 32px;
}
.header_icons{
    background-color: transparent;
    border: 2px solid #05BCCA;
    border-radius: 8px;
    width: 40px;
    height: 40px;
}
.user_icon{
    background-color: #05BCCA;
    border: none;
}

/* section1 */
.section_first {
    background-image: url(../images/cover.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 560px;
    font-size: 100px;
}
.section_container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

@keyframes lights {
    0% {
        color: hsl(230, 40%, 80%);
        text-shadow:
            0 0 1em hsla(252, 100%, 50%, 0.2),
            0 0 0.125em hsla(249, 100%, 60%, 0.3),
            -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
            1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }

    30% {
        color: hsl(230, 80%, 90%);
        text-shadow:
            0 0 1em hsla(230, 100%, 50%, 0.5),
            0 0 0.125em hsla(245, 100%, 60%, 0.5),
            -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
            0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }

    40% {
        color: hsl(230, 100%, 95%);
        text-shadow:
            0 0 1em hsla(320, 100%, 50%, 0.5),
            0 0 0.125em hsla(320, 100%, 90%, 0.5),
            -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
            0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
    }

    70% {
        color: hsl(230, 80%, 90%);
        text-shadow:
            0 0 1em hsla(320, 100%, 50%, 0.5),
            0 0 0.125em hsla(320, 100%, 60%, 0.5),
            0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
            -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }

    100% {
        color: hsl(230, 40%, 80%);
        text-shadow:
            0 0 1em hsla(320, 100%, 50%, 0.2),
            0 0 0.125em hsla(320, 100%, 60%, 0.3),
            1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
            -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }

}

.span1,
.span2 {
    font-weight: 400;
    font-style: Regular;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 0%;
    animation: lights 5s 750ms linear infinite;
}

/* section2 */
.section_second {
    background-color: #1A1A1A;
    padding: 96px 94px;
}

h2 {
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    line-height: 52px;
    letter-spacing: 0%;
    text-align: center;
    color: #05BCCA;
    margin-bottom: 64px;
}

.section_second_container {
    display: flex;
    column-gap: 20px;
}

.section_card {
    background-color: #2C4246;
    padding: 8px;
    border: 1px solid #05BCCA
}

h3 {
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0%;
    color: #D9D9D9;
    margin-top: 16px;
    margin-bottom: 16px;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section_card_img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

span {
    color: #05BCCA;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
}

button {
    width: 58px;
    height: 28px;
    background-color: #C46A2B;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}

/* footer */
footer {
    background-color: #2C4246;
    padding: 48px 372px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer_ul,
.footer_div,
address {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.h4 {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    color: #D9D9D9;
    margin-bottom: 16px;
}

li,
.contacts {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #D9D9D9;
}

.footer_socials {
    display: flex;
    column-gap: 16px;
}
.footer_ul_li {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.footer_ul_li::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: -100%;
    width: 100%;
    height: 3px;

    background: linear-gradient(
        90deg,
        transparent,
        #eff1f1,
        #A1C3C9,
        transparent
    );

    box-shadow: 0 0 8px #d9e6e9;
    border-radius: 2px;

    opacity: 0;
}

.footer_ul_li:hover::after {
    animation: hoverSlide 0.6s ease-out forwards;
}

@keyframes hoverSlide {
    0% {
        left: -100%;
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    100% {
        left: 100%;
        opacity: 0;
    }
}
